 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.container{
    max-width: 1240px;
}
nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    
    padding: 10px 0px;
}
.navLink{
   font-family: 'Roboto', sans-serif;
   color: #060506;
   font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
}
.navLink:hover{
   text-decoration: none; 
   color: #735148;
}
.active1{
   color: #735148;  
}
.logo{
     color: #735148 !important;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
     font-size: 26px;
     letter-spacing: 2px;
}
.jumbotron-header1{
    background-color: #ebe2e0;
}
.logo1{
   font-size: 12px; 
}
.navLink1{
   color: #000000 !important;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px !important;
    font-size: 12px;
    text-transform: capitalize;
}
.navLink1:hover{
    color: #735148 !important; 
}

.jumbotron-footer{
   background: #060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 40px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}

 /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 580px;
  }
#demo .carousel-indicators{
    right: 900px;
    bottom: 150px;
}

.carousel-indicators li{
   width: 11px;
   height: 11px;
}
#demo .carousel-caption{
    left: 10%;
    text-align: left;
    padding-bottom:40px;
    margin-right: 150px;
}
.bigHeading{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;  
    text-transform: uppercase;
    letter-spacing: 1px;
}
.smallHeading{
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: left;
}
.marginLeft{
    margin-left: 30px;
}
.viewLink{
    font-family: 'Roboto', sans-serif;
    color: #735148;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;  
    text-transform: capitalize;
    text-decoration: none;
}
.viewLink:hover{
   text-decoration: none;
   color: #735148; 
}
.secondHead{
   font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;  
    text-decoration: none;  
}
.smallHeadingGrey{
  color: #999999;
  font-size: 13px;
  letter-spacing: 1px;
}
.phnIcon{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color:#e6e6e6;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;  
    text-decoration: none;
    padding: 15px 23px;
    text-decoration: none;
}
.phnIcon:hover{
    color: #000000; 
    text-decoration: none;
}
.phnIcon1{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #735148;
    font-size: 17px;
    letter-spacing: 1px;  
    text-decoration: none;
    padding: 15px 23px;
    text-decoration: none;
    margin-left: -5px;
}
.phnIcon1:hover{
    color: #000000; 
    background-color: transparent;
    border: 2px solid #735148;
    text-decoration: none;
}
.phnIcon2{
    margin-left: 0px;
}
.alignEnd{
    text-align: end;
}
.topMargin{
   margin-top: -37px; 
}
.phnIcon12:hover{
   background-color: #ffffff; 
}
.img1{
   width: 100%;
   height: 320px;
}
.clrBox{
    background-color: #ebe2e0;
    height: 322px;
}
.cornerBox{
  margin:  13px 0px 0px -20px;
}
.boxText{
  padding: 75px 40px;  
}
.secondHeadSmall{
    font-size: 24px;
}
.clrBox1{
    height: 100%;
    margin-top: 85px;
}
.cornerBox1{
    margin:  13px 0px 0px 521px; 
}
.viewLinkB{
    color: #000000;
    font-weight: 500;
}
.viewLinkB:hover{
    color: #735148;
}
.extraPadding{
    padding: 40px 10px;
}
.backImg{
    background-image: url(../images/im2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -1px;
    cursor: pointer;
}
.backImg1{
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.backImg2{
  background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    cursor: pointer;
}
.cornerBox2{
  margin: 13px 0px 0px -30px;   
}
.clrBoxW{
    background-color: #ffffff;
}
.autoH{
    height: 100% !impottant;
    background-color: #ebe2e0;
    padding: 50px 20px;
}
.smallImg{
  width: 90px !important;
  height: 80px !important;
}
#demo1 .carousel-indicators li{
    background-color: #735148;
}
#demo1 .carousel-indicators{
   bottom: -60px;
    right: -353px;
}
.topMarg{
    margin-top: -15px;
}
.margTop{
    margin-top: -9px;
}
.sliderImg{
    height: 100% !important;
    width: 260px !important;
}



/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
 
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
  

}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
    .carousel-inner img{
        height: auto;
    }
    .jumbotron-header1{
        display: none;
    }
    .bigHeading{
        font-size: 17px !important; 
    }
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
  .carousel-caption{
     bottom: 64px;
    }
    .bigHeading{
        font-size: 26px;
    }
    .smallHeading{
       font-size: 14px;  
    }   
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .navLink{
      padding: 0px 7px;     
    } 
}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
   .navLink{
      padding: 0px 7px;     
    }
   .carousel-caption{
     bottom: 45px;
    }
    .bigHeading{
        font-size: 38px;
    }
    .smallHeading{
       font-size: 13px;  
    }  
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
  .navLink{
     padding: 0px 14px;     
   }
  .carousel-caption{
     bottom: 200px;
    }
    .bigHeading{
        font-size: 39px;
    }
    .smallHeading{
       font-size: 14px !important;  
    }      
}

